@import "../../common/scss/mixin";

.goods {
  display: flex;
  position: absolute;
  overflow: hidden;
  top: 174px;
  bottom: 46px;
  width: 100%;

  .menu-wrapper {
    // divide, scale, take up.
    flex: 0 0 80px;
    width: 80px;
    background: #f3f5f7;

    .menu-item {
      // Multi-line text, vertically centered.
      display: table;
      padding: 0 12px;
      width: 56px;
      height: 54px;
      line-height: 14px;

      &.current {
        position: relative;
        z-index: 10;
        margin-top: -1px;
        background: #fff;
        font-weight: 700;

        .text {
          @include border-none()
        }
      }

      .icon {
        display: inline-block;
        margin-right: 2px;
        width: 12px;
        height: 12px;
        // The top of the element is aligned with the top of the highest element in the row.
        vertical-align: top;
        background-size: 12px 12px;
        background-repeat: no-repeat;

        &.decrease {
          @include bg-image('decrease_3')
        }

        &.discount {
          @include bg-image('discount_3')
        }

        &.guarantee {
          @include bg-image('guarantee_3')
        }

        &.invoice {
          @include bg-image('invoice_3')
        }

        &.special {
          @include bg-image('special_3')
        }
      }

      .text {
        // father element: display: table
        display: table-cell;
        @include border-1px(rgba(7, 17, 27, 0.1));
        width: 56px;
        vertical-align: middle;
        font-size: 12px;
      }
    }
  }

  .foods-wrapper {
    flex: 1;

    .food-list {
      .title {
        border-left: 2px solid #d9dde1;
        padding-left: 14px;
        // Single line text vertically centered.
        height: 26px;
        line-height: 26px;
        // Single line text vertically centered.
        font-size: 12px;
        color: rgb(147, 153, 159);
        background: #f3f5f7;
      }

      .food-item {
        display: flex;
        @include border-1px(rgba(7, 17, 27, 0.1));
        margin: 18px;
        padding-bottom: 18px;

        &:last-child {
          @include border-none();
          margin-bottom: 0;
        }

        .icon {
          flex: 0 0 57px;
          margin-right: 10px;
        }

        .content {
          flex: 1;

          .name {
            margin: 2px 0 8px;
            height: 14px;
            line-height: 14px;
            font-size: 14px;
            color: rgb(7, 17, 27);
          }

          .desc, .extra {
            line-height: 10px;
            font-size: 10px;
            color: rgb(147, 153, 159);
          }

          .desc {
            margin-bottom: 8px;
          }

          .extra {
            .count {
              margin-right: 12px;
            }
          }

          .price {
            line-height: 24px;
            font-weight: 700;

            .now {
              margin-right: 8px;
              font-size: 14px;
              color: rgb(240, 20, 20);
            }

            .old {
              font-size: 10px;
              text-decoration: line-through;
              color: rgb(147, 153, 159);
            }
          }

          .cartControl-wrapper {
            position: absolute;
            right: 0;
            bottom: 12px;
          }
        }
      }
    }
  }
}
