@charset "UTF-8";

// 一像素横线：
@mixin border-1px($color) {
  position: relative;

  &:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid $color;
    content: ' ';
  }
}

@mixin border-none(){
  &:after{
    display: none;
  }
}

// 3:2x3x图
@mixin bg-image($url) {
  background-image: url($url + "@2x.png");

  @media (-webkit-min-device-pixel-ratio: 3) {
    background-image: url($url + "@3x.png");
  }

  @media (min-device-pixel-ratio: 3) {
    background-image: url($url + "@3x.png");
  }
}
