@import '~common/scss/mixin';

.shopCart {
  z-index: 50;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 48px;
  .content {
    display: flex;
    font-size: 0;
    color: rgba(255, 255, 255, 0.4);
    background: #141d27;
    .content-left {
      flex: 1;
      .logo-wrapper {
        display: inline-block;
        position: relative;
        // 突出显示条件
        top: -10px;
        // border-box: ie盒模型: 已设定的宽度和高度分别减去边框和内边距才是内容的宽度和高度。
        box-sizing: border-box;
        border-radius: 50%;
        margin: 0 12px;
        padding: 6px;
        width: 56px;
        height: 56px;
        vertical-align: top;
        background: #141d27;
        .num {
          position: absolute;
          top: 0;
          right: 0;
          border-radius: 16px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4); // box-shadow: h-shadow v-shadow blur spread color inset;
          width: 24px;
          // 垂直方向居中
          height: 24px;
          line-height: 24px;
          // 水平方向居中
          text-align: center;
          font-size: 9px;
          font-weight: 700;
          color: #fff;
          background: rgb(240, 20, 20);
        }
        .logo {
          border-radius: 50%;
          width: 100%;
          height: 100%;
          text-align: center;
          background: #2b343c;
          &.highlight {
            background: rgb(0, 160, 220);
          }
          .icon-shopping_cart {
            line-height: 44px;
            font-size: 24px;
            color: #80858a;
            &.highlight {
              color: #fff;
            }
          }
        }
      }
      .price {
        display: inline-block;
        box-sizing: border-box;
        border-right: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: 12px;
        padding-right: 12px;
        line-height: 24px;
        vertical-align: top;
        font-size: 16px;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.4);
        &.highlight {
          color: #fff;
        }
      }
      .desc {
        display: inline-block;
        margin-left: 12px;
        margin-top: 12px;
        line-height: 24px;
        vertical-align: top;
        font-size: 10px;
        color: rgba(255, 255, 255, 0.4);
      }
    }
    .content-right {
      flex: 0 0 105px;
      width: 105px;
      .pay {
        height: 48px;
        line-height: 48px;
        text-align: center;
        font-size: 12px;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.4);
        background: #2b333b;
        &.not-enough {
          background: #2b333b;
        }
        &.enough {
          color: #fff;
          background: #00b43c;
        }
      }
    }
  }
  .ball-container {
    .ball {
      z-index: 200;
      position: fixed;
      left: 32px;
      bottom: 22px;
      transition: all 0.4s cubic-bezier(0.49, -0.29, 0.75, 0.41); // http://cubic-bezier.com/#.17,.67,.83,.67
      .inner {
        border-radius: 50%;
        width: 16px;
        height: 16px;
        background: rgb(0, 160, 220);
        transition: all 0.5s linear;
      }
    }
  }
  .shopCart-list {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate3d(0, -100%, 0);
    &.fold-enter-active,
    &.fold-leave-active {
      transition: all 0.5s;
    }
    &.fold-enter,
    &.fold-leave-active {
      transform: translate3d(0, 0, 0);
    }
    .list-header {
      border-bottom: 1px solid rgba(7, 17, 27, 0.1);
      padding: 0 18px;
      height: 40px;
      line-height: 40px;
      background: #f3f5f7;
      .title {
        float: left;
        font-size: 14px;
        color: rgb(7, 17, 27);
      }
      .empty {
        float: right;
        font-size: 12px;
        color: rgb(0, 160, 220);
      }
    }
    .list-content {
      padding: 0 18px;
      // height will change
      max-height: 217px;
      background: #fff;
      overflow: hidden;
      .shopCart-food {
        position: relative;
        box-sizing: border-box;
        @include border-1px(rgba(7, 17, 27, 0.1));
        padding: 12px 0;
        .name {
          line-height: 24px;
          font-size: 14px;
          color: rgb(7, 17, 27);
        }
        .price {
          position: absolute;
          right: 90px;
          bottom: 12px;
          line-height: 24px;
          font-size: 14px;
          font-weight: 700;
          color: rgb(240, 20, 20);
        }
        .cartControl-wrapper {
          position: absolute;
          right: 0;
          bottom: 6px;
        }
      }
    }
  }
}

.list-mask {
  z-index: 40;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // 模糊效果
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
  background: rgba(7, 17, 27, 0.6);
  opacity: 1;
  &.fade-enter-active,
  &.fade-leave-active {
    background: rgba(7, 17, 27, 0.6);
    transition: all 0.5s linear;
    opacity: 1;
  }
  &.fade-enter,
  &.fade-leave-active {
    background: rgba(7, 17, 27, 0);
    opacity: 0;
  }
}
